<%- include("partials/header", { title: title }) %>

<main>
  <h2>Upcoming Service Projects</h2>

  <p>
    <a href="/new-project">Add New Project</a>
  </p>

  <section class="project-grid">
    <% projects.forEach(project => { %>
      <article class="card">

        <a href="/project/<%= project.project_id %>">
          <h3><%= project.title %></h3>
        </a>

        <p>
          Partner Organization:
          <% if (user && user.role_name === "admin") { %>
            <a href="/new-project">Add New Project</a>
          <% } %>
            <%= project.organization_name %>
          </a>
        </p>

        <p>
          <strong>Date:</strong>
          <%= new Date(project.date).toLocaleDateString() %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= project.location %>
        </p>

      </article>
    <% }) %>
  </section>
</main>

<%- include("partials/footer") %>